$bg: aliceblue;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $bg;
}

#root {
  flex-grow: 1;
  display: flex;
  padding-top: 2rem;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  color: #333;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  height: 2rem;
  width: 100%;
  position: fixed;
  z-index: 1300;
  margin-top: -2rem;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.Navbar div {
  display: flex;
  gap: 1rem;
}

.AuthForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
