{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Planner</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Task tracking with real-time collaboration">
  <meta property="og:title" content="Planner" />
  <meta property="og:description" content="Task tracking with real-time collaboration" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://cplan.herokuapp.com/static/favicon192.png" />
  <meta property="og:url" content="https://cplan.herokuapp.com" />
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
  <link rel="manifest" href="{% static 'manifest.json' %}">
  <link rel="stylesheet" href="{% static 'app.css' %}">
  <script src="{% static 'app.js' %}" defer></script>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
</body>

</html>